body {
  background-color: navy;
}
.jumbotron {
  background-color:   #d7faeb;
  color: black;
}

.panel-primary>.panel-heading {
  background-color: #d7e6fa;
  color:black;
}

#submit-train-btn {
  background-color: #d7e6fa;
  color: black;
}

